@using BigDataManager.Models
@model List<RegionModel>
@{
    ViewBag.Title = "AccordingToTheVillage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table align="center" class="am-table am-table-bordered">
    <thead>
        <tr>
            <th>居委名称</th>
            <th>结构化数据</th>
            <th>非结构化数据</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RegionModel item in Model)
        {
            <tr>
                <td><a class="am-btn-link" href="@item.Code">@item.Name</a></td>
                <td>@item.StructuringCount</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
