@{
    ViewBag.Title = "PopulationDetailStructuring";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using BigDataManager.Models
@model List<PersonalInfoModel>
@section Scripts{
       <script>

           $(function () {

               $("#notStuct").click(function () {
                   window.location = "/DataSelect/PopulationDetailNotStructuring?pid=@Request.QueryString["pid"]";
               })
           })
       </script>
    
    }
<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">结构化数据</a></li>
        <li><a id="notStuct" href="#tab2">非结构化数据</a></li>
    </ul>
    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
            <table align="center" class="am-table am-table-bordered">
                <thead>
                    <tr>
                        <th>数据项</th>
                        <th>值</th>
                        <th>沉淀时间</th>
                    </tr>
                </thead>
                @foreach(PersonalInfoModel p in Model)
                {
                    <tbody>
                        <tr>
                            <td>@p.Key</td>
                            <td>@p.Value</td>
                            <td>2012-10-01</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

